.buttonMolten {
    background-color: #FF0000;
    border: none;
    cursor: pointer;
    color: #000000;
    padding: 5px 5px;
    text-decoration: none;
    margin: 2px;
}

.buttonRow {
    margin-bottom: 8px;
}

.div {
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 5px;
}
